<!DOCTYPE html>

<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/style4.css">

  <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">

  <title>Lista de Planos</title>

  <link rel="icon" type="imagens/png" href="/img/images/logo-icon.jpeg">

</head>

 

<body>

  <div class="container">

    <div class="header">

      <span>Cadastro de Planos</span>

      <button onclick="openModal()" id="new">Incluir</button>

    </div>

    

    <div class="modal-container">

      <div class="modal">

       <form action="#" th:action="@{/plano/salvar}" th:object="${plano}" method="post">

          <label for="mnome">Nome</label>

          <input id="mnome" type="text" th:field="*{NOME}" required />


          <label for="mpreço">Preço</label>

          <input id="mpreço" type="number" th:field="*{PRECO_MENSAL}" required />

 		 <label for="mdescrição">Descrição</label>

          <input id="mdescrição" type="text" th:field="*{DESCRICAO}" required />


			<span th:text="${serverMessage}"></span>

		  <button type="submit">GRAVAR</button>

        </form>

      </div>

    </div>

 

 

    <div class="divTable">

		<h1>Lista de Cadastros</h1>

		<table>

			<thead>

				<tr>

					<th>ID</th>

					<th>Nome</th>
					
					<th>Preço</th>
 
 					<th>Descrição</th>
 					
					<th>Editar</th>

				</tr>

			</thead>

		<tbody>

				<tr th:each="plano : ${planos}">

					<td th:text="${plano.id}"></td>

					<td th:text="${plano.NOME}"></td> 

					<td th:text="${plano.PRECO_MENSAL}"></td>
					
					<td th:text="${plano.DESCRICAO}"></td>


				
					<td>

						<a th:href="@{/plano/ver/{id}(id=${plano.id})}"  class="botao_ver" style="background-color: rgb(0, 0, 0); color:#fff";>Editar </a>

					</td>

				</tr>

			</tbody>

		</table>

		<div style="display:flex; justify-content: flex-end; margin: auto 12px; ">

					<button id="new"><a  th:href="@{/api/inicio}" style="background-color: rgb(0, 0, 0); color:#fff; text-decoration: none;" >Voltar </a></button>

				</div>

    </div>

 

    

  </div>

  <script src="/js/script.js"></script>

</body>

 

</html>